<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=utf-8' http-equiv='Content-Type'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=0'>
    <meta name='description' content='North – A digital product studio from Barcelona'>
    <meta name='author' content='North'>
    <title>North – a digital product studio from Barcelona</title>

    <meta property="og:type" content="website">
    <meta property="og:site_name" content="http://thenorthstudio.com">
    <meta property="og:url" content="http://thenorthstudio.com">

    <link rel='stylesheet' href='/styles/main.css'>

    <link rel='icon' href='/assets/favicon.ico'>
    <link rel='shortcut icon' href='/assets/favicon.ico'>
  </head>
  <body>

    {{ content }}

    <script src='/scripts/bundle.js'></script>
    <script async src='https://www.google-analytics.com/analytics.js'></script>
  </body>
</html>