---
layout: default
---

<section class="hero">
  <div class="u-wrapper">
    <header class="hero__header u-hidden-mobile">
      <h1 class="hero__brand">North</h1>
      <nav class="hero__menu"></nav>
    </header>
    <h2 class="hero__tagline">{{ page.tagline }}</h2>
  </div>
</section>

<section class="showcase">
  <h2 class="showcase__title">{{ page.showcase.title }}</h2>

  <nav class="showcase__list u-hidden-mobile js-desktop-showcase">
  {% for project in page.showcase.projects %}
    <div class="showcase__list__item">
      <span class="showcase__list__item__name" data-id="{{ project.name }}">{{ project.name }}</span><span class="showcase__list__item__description"> &mdash; {{ project.description }}</span>
    </div>
  {% endfor %}
  </nav>

  {% for project in page.showcase.projects %}
  <div class="showcase__item" data-id="{{ project.name }}">

    <picture>
      <source srcset="{{ project.desktop_image }}" media="(min-width: 600px)">
      <img class="showcase__img" src="{{ project.mobile_image }}" alt="{{ project.description }}" data-id="{{ project.name }}">
    </picture>

    <div class="showcase__item__data u-hidden-desktop">
      <div class="showcase__item__description">{{ project.name }} &mdash; {{ project.description }}</div>
      <div class="showcase__item__count">{{ forloop.index }} / 6</div>
    </div>

  </div>
  {% endfor %}
</section>

<section class="logos">
  <h2 class="logos__title">{{ page.logos.title }}</h2>

  <div class="logos__list">
    {% for logo in page.logos.logos_list %}
    <div class="logos__list__item">
      <img src="{{ logo.image }}" alt="{{ logo.name }}">
    </div>
    {% endfor %}
  </div>
</section>

<section class="contact">
  <div class="u-wrapper">

    <h2 class="contact__title">{{ page.contact.title }}</h2>

    <div class="contact__subsection">
      <h3 class="contact__subsection__title">General inquiries</h3>
      <p class="contact__subsection__body">Do you have a project, new business or an idea you'd like to collaborate with North on? Let's talk.</p>
      <a class="contact__subsection__email" href="mailto:hello@thenorthstudio.com" target="_blank">hello@thenorthstudio.com</a>
    </div>

    <div class="contact__social">
      <h3 class="contact__social__title">Follow us</h3>

      <a class="contact__social__link" href="https://www.linkedin.com/company/thenorthstudio.com" target="_blank">Linkedin</a>
      <a class="contact__social__link" href="https://www.instagram.com/thenorthstudio/" target="_blank">Instagram</a>
      <a class="contact__social__link" href="#" target="_blank">Facebook</a>
    </div>

  </div>
</section>
