---
layout: default
---

<section class="hero">
  <div class="wrapper">
    <div class="hero__logo"></div>
    <h1 class="hero__tagline">{{ page.tagline }}</h1>
  </div>
</section>

<section class="showcase">
  <h2 class="showcase__title">{{ page.showcase.title }}</h2>

  <div class="showcase__item">
    <img class="showcase__img" src="{{ page.showcase.projects.first.mobile_image }}" alt="{{ page.showcase.projects.first.description }}">
    <div class="showcase__item__data">
      <div class="showcase__item__description">{{ page.showcase.projects.first.description }}</div>
      <div class="showcase__item__count">1 / 6</div>
    </div>
  </div>

</section>

<section class="logos">
  <h2 class="logos__title">{{ page.logos.title }}</h2>
  <div class="logos__list">
    {% for logo in page.logos.logos_list %}
      <img class="logos__list__item" src="{{ logo.image }}" alt="{{ logo.description }}">
    {% endfor %}
  </div>
</section>

<section class="contact">
  <div class="wrapper">

    <h2 class="contact__title">{{ page.contact.title }}</h2>
    <div class="contact__subsection">
      <h3 class="contact__subsection__title">General inquiries</h3>
      <p class="contact__subsection__body">Do you have a project, new business or an idea you'd like to collaborate with North on? Let's talk.</p>
      <a class="contact__subsection__email" href="mailto:hello@thenorthstudio.com">hello@thenorthstudio.com</a>
    </div>

    <div class="contact__social">
      <h3 class="contact__social__title">Follow us</h3>

      <a class="contact__social__link" href="https://www.linkedin.com/company/thenorthstudio.com">Linkedin</a>
      <a class="contact__social__link" href="https://www.instagram.com/thenorthstudio/">Instagram</a>
      <a class="contact__social__link" href="#">Facebook</a>
    </div>

  </div>
</section>
