//---- sizes

$break-desktop: 600px;
$break-large-desktop: 1000px;

//---- typography

@font-face {
  font-family: 'NoeDisplay';
  font-style: normal;
  font-weight: normal;
  src: url(../assets/fonts/NoeDisplayRegular.otf);
  src: url(../assets/fonts/NoeDisplayRegular.woff) format('woff');
}

@font-face {
  font-family: 'NoeDisplay';
  font-style: normal;
  font-weight: bold;
  src: url(../assets/fonts/NoeDisplayBold.otf);
  src: url(../assets/fonts/NoeDisplayBold.woff) format('woff');
}

@font-face {
  font-family: 'BentonSans-Book';
  font-style: normal;
  font-weight: normal;
  src: url(../assets/fonts/benton-book.woff) format('woff');
}

$font-family-title: 'NoeDisplay', serif;
$font-family-body: 'BentonSans-Book', -apple-system, BlinkMacSystemFont, Roboto, Calibri, sans-serif;

//---- colors

$black: #121212;
$white: #FFF;
$grey: #858585;
