---
---

@charset "utf-8";
@import "reset";
@import "variables";

html, body {
  width: 100vw;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

.wrapper {
  box-sizing: border-box;
  padding: 0 30px;
  width: 100%;
  max-width: 100%;

  @media (min-width: $break-desktop) {
    padding: 0 60px;
  }
}


// landing section

.hero {
  position: relative;
  display: flex;
  color: $black;
  min-height: 85vh;

  .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  @media (min-width: $break-desktop) {
    height: 95vh;
    min-height: 600px;
  }
}

.hero__header {
  display: none;

  font-family: $font-family-title;
  font-size: 24px;
  font-weight: bold;
  line-height: normal;
  letter-spacing: 0.3px;
  color: $black;

  @media (min-width: $break-desktop) {
    display: block;
    position: absolute;
    left: 60px;
    top: 60px;
    right: 60px;
  }
}

.hero__tagline {
  font-family: $font-family-title;
  font-size: 24px;
  font-weight: normal;
  line-height: 1.42;
  letter-spacing: 0.5px;

  @media (min-width: $break-desktop) {
    font-size: 38px;
  }
}

// showcase

.showcase {
  position: relative;
  width: 100vw;
  background-color: $black;
}

.showcase__title {
  position: absolute;
  top: 88px;
  left: 30px;
  margin: 0;

  font-family: $font-family-body;
  font-size: 18px;
  font-weight: normal;
  color: #FFF;

  @media (min-width: $break-desktop) {
    left: 60px;
  }
}

.showcase__img {
  width: 100%;
}

.showcase__item__data {
  position: absolute;
  bottom: 30px;
  left: 30px;
  right: 30px;

  @media (min-width: $break-desktop) {
    bottom: 60px;
    left: 60px;
    right: 60px;
  }
}

.showcase__item__description {
  margin-bottom: 30px;

  font-family: $font-family-title;
  font-size: 24px;
  font-weight: normal;
  line-height: 1.42;
  letter-spacing: 0.5px;
  color: #FFF;
}

.showcase__item__count {
  text-align: right;
  font-family: $font-family-body;
  font-size: 18px;
  font-weight: normal;
  color: #FFF;
}

// brands

.logos {
  position: relative;
  width: 100vw;
  padding-top: 240px;
  background-color: $black;

  @media (min-width: $break-desktop) {
    padding-top: 200px;
  }
}

.logos__title {
  margin: 0;

  font-family: $font-family-body;
  font-size: 18px;
  font-weight: normal;
  color: #FFF;
  text-align: center;
}

.logos__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 240px;
  text-align: center;

  @media (min-width: $break-desktop) {
    padding: 0 120px;
    margin-top: 200px;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.logos__list__item {
  flex: 1;
  margin-bottom: 240px;

  @media (min-width: $break-desktop) {
    flex: 0 0 33.3333%;
  }

  > img {
    max-width: 200px;
  }
}

// contact

.contact {
  padding-top: 44px;

  @media (min-width: $break-desktop) {
    padding-top: 200px;
  }
}

.contact__title {
  margin: 0;

  color: $black;
  font-family: $font-family-body;
  font-size: 18px;
  font-weight: normal;
}

.contact__subsection {
  margin-top: 90px;

  @media (min-width: $break-desktop) {
    margin-top: 200px;
  }
}

.contact__subsection__title {
  margin: 0;

  font-family: $font-family-title;
  font-size: 24px;
  font-weight: normal;
  line-height: 1.42;
  letter-spacing: 0.5px;
}

.contact__subsection__body {
  margin-top: 30px;

  color: $black;
  font-family: $font-family-body;
  font-size: 18px;
  font-weight: normal;
  line-height: 1.87;


  @media (min-width: $break-desktop) {
    max-width: 400px;
  }
}

.contact__subsection__email {
  display: inline-block;
  margin-top: 30px;

  color: $black;
  font-family: $font-family-body;
  font-size: 18px;
  font-weight: normal;
  text-decoration: underline;;
}

.contact__social {
  margin-top: 90px;
  margin-bottom: 120px;
  display: flex;
  flex-direction: column;

  @media (min-width: $break-desktop) {
    margin-bottom: 200px;
  }
}

.contact__social__title {
  margin: 0;
  margin-bottom: 30px;

  font-family: $font-family-title;
  font-size: 24px;
  font-weight: normal;
  line-height: 1.42;
  letter-spacing: 0.5px;
}

.contact__social__link {
  margin-bottom: 15px;

  color: $black;
  font-family: $font-family-body;
  font-size: 18px;
  line-height: 1.87;
  font-weight: normal;
  text-decoration: none;
}


