---
---

@charset "utf-8";
@import "reset";
@import "variables";

// global

html, body {
  width: 100vw;
  min-height: 100vh;
  margin: 0;
  padding: 0;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}

::-moz-selection {
    background-color: $grey;
    color: $white;
}
::selection {
    background-color: $grey;
    color: $white;
}

// utilities

.u-wrapper {
  box-sizing: border-box;
  padding: 0 30px;
  width: 100%;
  max-width: 100%;

  @media (min-width: $break-desktop) {
    padding: 0 60px;
  }
}

.u-hidden-mobile {
  @media (max-width: $break-desktop) {
    display: none !important;
  }

  .is-touch & {
    @media (orientation: landscape) {
      display: none !important;
    }
  }
}

.u-hidden-desktop {
  @media (min-width: $break-desktop) and (orientation: landscape) {
    display: none !important;
  }


  .is-touch & {
    @media (orientation: landscape) {
      display: unset !important;
    }
  }
}

// landing section

.hero {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: $black;
  min-height: 85vh;

  .u-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  @media (min-width: $break-desktop) {
    height: 95vh;
    min-height: 600px;
  }

  .is-touch & {
    @media (orientation: landscape) {
      height: auto;
      min-height: 85vh;
    }
  }
}

.hero__header {
  font-family: $font-family-title;
  font-size: 24px;
  font-weight: bold;
  line-height: normal;
  letter-spacing: 0.3px;
  color: $black;

  @media (min-width: $break-desktop) {
    position: absolute;
    left: 60px;
    top: 60px;
    right: 60px;
  }
}

.hero__tagline {
  font-family: $font-family-title;
  font-size: 24px;
  font-weight: normal;
  line-height: 1.42;
  letter-spacing: 0.5px;

  @media (min-width: $break-desktop) {
    font-size: 38px;
  }

  .is-touch & {
    @media (orientation: landscape) {
      font-size: 24px;
    }
  }
}

// showcase

.showcase {
  position: relative;
  width: 100vw;
  min-height: 100vh;
  background-color: $black;
  cursor: pointer;
}

.showcase__title {
  position: absolute;
  top: 88px;
  left: 30px;
  z-index: 10;
  margin: 0;

  font-family: $font-family-body;
  font-size: 18px;
  font-weight: normal;
  color: #FFF;

  @media (min-width: $break-desktop) {
    left: 60px;
  }

  .is-touch & {
    @media (orientation: landscape) {
      top: 30px;
      left: 30px;
    }
  }
}

.showcase__list {
  position: absolute;
  left: 60px;
  bottom: 120px;
  z-index: 10;
  pointer-events: none;
}

.showcase__list__item {
  margin-top: 20px;
  opacity: 1;

  font-family: NoeDisplay;
  font-size: 30px;
  font-weight: normal;
  line-height: 1.32;
  letter-spacing: 0.5px;
  color: $white;
  pointer-events: none;
  -webkit-transition: .3s opacity ease;
  transition: .3s opacity ease;

  @media (min-width: $break-large-desktop) {
    font-size: 38px;
  }
}

.showcase__list__item__name {
  pointer-events: all;
}

.showcase__list__item__description {
  opacity: 0;
  -webkit-transition: .3s opacity ease;
  transition: .3s opacity ease;
  pointer-events: none;
}

/* desktop showcase switcher */
.showcase__list:hover {
  .showcase__list__item {
    opacity: 0.1;
  }
  .showcase__list__item:hover {
    opacity: 1;

    .showcase__list__item__description {
      opacity: 1;
    }
  }
}

.showcase__item {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: .3s opacity ease;
  transition: .3s opacity ease;
}

.showcase__item.is-active {
  opacity: 1;
  -webkit-transition: .5s opacity ease;
  transition: .5s opacity ease;
}

.showcase__img {
  width: 100%;
  height: 100vh;
  -o-object-fit: cover;
  object-fit: cover;
  font-family: 'object-fit: contain;'; // IE hack: https://github.com/bfred-it/object-fit-images
}

.showcase__item__data {
  position: absolute;
  bottom: 30px;
  left: 30px;
  right: 30px;

  @media (min-width: $break-desktop) {
    bottom: 60px;
    left: 60px;
    right: 60px;
  }

  .is-touch & {
    @media (orientation: landscape) {
      bottom: 30px;
      left: 30px;
      right: 30px;
    }
  }
}

.showcase__item__description {
  margin-bottom: 30px;

  font-family: $font-family-title;
  font-size: 24px;
  font-weight: normal;
  line-height: 1.42;
  letter-spacing: 0.5px;
  color: #FFF;
}

.showcase__item__count {
  text-align: right;
  font-family: $font-family-body;
  font-size: 18px;
  font-weight: normal;
  color: #FFF;
}

// brands

.logos {
  position: relative;
  width: 100vw;
  padding-top: 240px;
  background-color: $black;

  @media (min-width: $break-desktop) {
    padding-top: 200px;
  }
}

.logos__title {
  margin: 0;

  font-family: $font-family-body;
  font-size: 18px;
  font-weight: normal;
  line-height: 1.42;
  color: #FFF;
  text-align: center;
}

.logos__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 240px;
  text-align: center;

  @media (min-width: $break-desktop) {
    padding: 0 120px;
    margin-top: 200px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}

.logos__list__item {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin-bottom: 240px;

  @media (min-width: $break-desktop) {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.3333%;
    flex: 0 0 33.3333%;
  }

  > img {
    max-width: 200px;
  }
}

// contact

.contact {
  padding-top: 44px;

  @media (min-width: $break-desktop) {
    padding-top: 200px;
  }

  .is-touch & {
    @media (orientation: landscape) {
      padding-top: 44px;
    }
  }
}

.contact__title {
  margin: 0;

  color: $black;
  font-family: $font-family-body;
  font-size: 18px;
  font-weight: normal;
}

.contact__subsection {
  margin-top: 90px;

  @media (min-width: $break-desktop) {
    margin-top: 200px;
  }

  .is-touch & {
    @media (orientation: landscape) {
      margin-top: 90px;
    }
  }
}

.contact__subsection__title {
  margin: 0;

  font-family: $font-family-title;
  font-size: 24px;
  font-weight: normal;
  line-height: 1.42;
  letter-spacing: 0.5px;
}

.contact__subsection__body {
  margin-top: 30px;

  color: $black;
  font-family: $font-family-body;
  font-size: 18px;
  font-weight: normal;
  line-height: 1.87;

  @media (min-width: $break-desktop) {
    max-width: 400px;
  }

  .is-touch & {
    @media (orientation: landscape) {
      max-width: auto;
    }
  }
}

.contact__subsection__email {
  display: inline-block;
  margin-top: 30px;

  color: $black;
  font-family: $font-family-body;
  font-size: 18px;
  font-weight: normal;
  text-decoration: underline;;
}

.contact__social {
  margin-top: 90px;
  margin-bottom: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;

  @media (min-width: $break-desktop) {
    margin-bottom: 200px;
  }

  .is-touch & {
    @media (orientation: landscape) {
      margin-bottom: 120px;
    }
  }
}

.contact__social__title {
  margin: 0;
  margin-bottom: 30px;

  font-family: $font-family-title;
  font-size: 24px;
  font-weight: normal;
  line-height: 1.42;
  letter-spacing: 0.5px;
}

.contact__social__link {
  margin-bottom: 15px;

  color: $black;
  font-family: $font-family-body;
  font-size: 18px;
  line-height: 1.87;
  font-weight: normal;
  text-decoration: none;
}


